/* Error toast style */
.error-toast {
    background-color: #736d99;
    /* Red color for error background */
    color: #ffffff;
    /* White color for text */
  }
  
  /* Success toast style */
  .success-toast {
    background-color: #0d7f90;
    /* Green color for success background */
    color: #fff;
    /* White color for text */
  }